################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SentryDemo/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Sentry.Demo/.vs/Sentry.Demo/v15
/Sentry.Demo/.vs/Sentry.Demo/DesignTimeBuild
/Sentry.Demo/.vs
